<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Book Visualization</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <%- include('header.ejs') %>

        <main class="container">
            <section id="order-book-section">
                <h1 class="page-title">Order Book Visualization</h1>
                <div class="order-book-form">
                    <form method="post" action="/order">
                        <label for="ticker">Enter Ticker:</label>
                        <input type="text" id="ticker" name="ticker" placeholder="Enter ticker symbol">
                        <button type="submit" class="btn-submit">ORDER BOOK</button>
                    </form>
                </div>
                <div class="order-book-table">
                    <% if (bpx && apx) { %>
                        <h2>Order Book Data:</h2>
                        <table>
                            <thead>
                                <tr>
                                    <th>Bid Price</th>
                                    <th>Bid Quantity</th>
                                    <th>Bid Number</th>
                                    <th>Ask Price</th>
                                    <th>Ask Quantity</th>
                                    <th>Ask Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let i = 0; i < bpx.length; i++) { %>
                                    <tr>
                                        <td>
                                            <%= bpx[i] %>
                                        </td>
                                        <td>
                                            <%= bqty[i] %>
                                        </td>
                                        <td>
                                            <%= bnum[i] %>
                                        </td>
                                        <td>
                                            <%= apx[i] %>
                                        </td>
                                        <td>
                                            <%= aqty[i] %>
                                        </td>
                                        <td>
                                            <%= anum[i] %>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                        <% } %>
                </div>
            </section>
        </main>

        <%- include('footer.ejs') %>
</body>

</html>